.favorites-container {
  color: #d2691e;
  font-family: "Open Sans", sans-serif;
  padding-top: 90px;
  width: 100vw;
}

.favorites-title {
  font-family: "Lobster", cursive;
  text-align: center;
  margin-top: 24px;
  font-size: 2.5rem;
}

.favorites-subtitle {
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 1.5rem;
}

/* Naranja Cálido: #FFA500
Verde Oliva: #808000
Rojo Tomate: #FF6347
Amarillo Maíz: #FFD700
Azul Cielo: #87CEEB
Verde Salvia: #8FBC8F
Marrón Chocolate: #D2691E
Blanco Crema: #FFF8DC */

/* 
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif; 
*/
