.card-item {
  width: 16rem;
  position: relative;
  overflow: hidden;
  margin: 16px 16px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.37);
}

.card-img-top {
  transition: 0.2s;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.card-body {
  background-color: white;
  color: #d2691e;
}

.card-title {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.btn {
  background-color: #808000;
  color: white;
  margin-top: 8px;
  margin-bottom: 0;
}

.btn:hover {
  background-color: #ffa500;
  color: black;
}

.categorias {
  position: absolute;
  font-weight: 700;
  top: 4px;
  left: 4px;
  font-size: 14px;
  background-color: white;
  padding: 2px 8px;
  border-radius: 12px;
  z-index: 20;
  color: black;
}

.chef {
  margin-top: 8px;
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.title-heart-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.heart {
  cursor: pointer;
}
