.header-background-userpage {
  background-image: url("https://i.ibb.co/kM72S9W/Mia-By-Carlo-Cracco-01-2018.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 70vh;
  max-height: 400px;
  position: fixed;
  z-index: -10;
}

.perfil-container {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  padding-top: 25vh;
  width: 100%;
}

.title-user {
  font-family: "Mrs Saint Delafield", cursive;
  text-align: center;
  margin-top: 24px;
  font-size: 4rem;
}

.body-user {
  color: black;
  background-color: rgb(255, 255, 255);
  padding-top: 32px;
  margin-top: 140px;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.582);
  border-radius: 8px;
  padding: 16px;
}

.profile-image-container {
  position: relative;
  color: black;
  margin-top: 48px;
}

.profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.582);
}

.svg-container {
  border-radius: 50%;
  background-color: rgb(197, 194, 194);
  position: absolute;
  bottom: 1rem;
  right: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: white;
  cursor: pointer;
}

.modal-image-container {
  position: absolute;
  z-index: 30;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.863);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container-modal-edit {
  color: black;
  width: 100%;
}

.buttons-modal-edit-image-container {
  margin-top: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.img-modal-container {
  width: 400px;
  height: 400px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 8px;
}

.subir-imagen {
  margin: 8px 0;
}

.input-imagen {
  margin-top: 8px;
}

.img-perfil-preview-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.username-profile {
  font-size: 3.3rem;
  font-family: "Mrs Saint Delafield", cursive;
  margin-top: 0.5rem;
}

.email-profile {
  opacity: 0.5;
  font-weight: 600;
}

.puntuacion-perfil {
  font-size: 3rem;
  margin: 16px 0 0 0;
  font-family: "Mrs Saint Delafield", cursive;
}

.social-media-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.social-media-icon {
  margin-right: 16px;
  cursor: pointer;
  transition: 0.2s;
  color: rgba(0, 0, 0, 0.664);
}

.social-media-icon:hover {
  transform: scale(1.1);
  color: black;
}

.add-receita-container {
  position: fixed;
  bottom: 32px;
  right: 20px;
  z-index: 30;
  background-color: #36322d;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.add-receita-container:hover {
  transform: scale(1.1);
}

.plus-icon {
  color: white;
}

/* Agregar Receta  */

.modal-add-receita-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 600px;
  height: 96%;
  overflow-y: auto;
  color: black;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.label-add-receita-form {
  font-weight: bold;
  margin-top: 12px;
}

.input-text {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.input-select {
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.textarea-add-receita {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

#durationUnit {
  margin: 8px 0;
}

.buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button-submit-add {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-submit-add:hover {
  background-color: #0056b3;
}

.button-close-modal {
  background-color: #ccc;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-close-modal:hover {
  background-color: #999;
}

.img-add-receita-form {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.instruction {
  font-size: 12px;
  font-weight: lighter;
}

.edit-redes-content {
  height: 400px;
}

.add-redes-title {
  text-align: center;
}

.title-input {
  text-align: left;
  margin-top: 8px;
}

.edit-redes-buttons {
  margin-top: 16px;
}

/* Naranja Cálido: #FFA500
Verde Oliva: #808000
Rojo Tomate: #FF6347
Amarillo Maíz: #FFD700
Azul Cielo: #87CEEB
Verde Salvia: #8FBC8F
Marrón Chocolate: #D2691E
Blanco Crema: #FFF8DC */

/* 
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif; 
*/
