.header-background {
  background-image: url("https://i.ibb.co/rmzGX7F/fondo-home.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  background-size: cover;
}

.home-container {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  padding-top: 25vh;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.home-title {
  font-family: "Mrs Saint Delafield", cursive;
  text-align: center;
  margin-top: 24px;
  font-size: 4rem;
}

.body-home {
  color: black;
  background-color: rgb(255, 255, 255);
  padding-top: 32px;
  margin-top: 140px;
  padding-bottom: 32px;
}

.home-subtitle {
  font-family: "Mrs Saint Delafield", cursive;
  text-align: center;
  font-size: 3rem;
}

.search-container {
  margin: 32px auto;
  border: 1px solid #05050585;
  width: 400px;
  border-radius: 16px;
  display: flex;
  position: relative;
  justify-content: end;
  padding: 2px 8px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.514);
}

.input-search {
  width: 90%;
  border: none;
  color: #000000;
  height: 30px;
}

.input-search:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  left: 16px;
  top: 0;
  bottom: 0;
  margin: auto;
}

::placeholder {
  color: #504f4e8c;
}

.cards-container {
  position: relative;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 56px 16px 16px 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.582);
  border-radius: 8px 8px 0 0;
}

.recetas-header {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  background-color: #3f3f3f;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  border-radius: 8px 8px 0 0;
}

.logout-container {
  position: fixed;
  bottom: 24px;
  left: 24px;
  background-color: #3f3f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

@media (max-width: 726px) {
  .home-container {
    padding-top: 25vh;
  }

  .home-title {
    margin-top: 0;
  }

  .body-home {
    margin-top: 100px;
    padding-bottom: 32px;
  }
}

@media (max-width: 678px) {
  .search-container {
    margin: 16px auto;
  }

  .cards-container {
    position: relative;
    width: 97%;
    margin: 0 auto;
    padding: 40px 0 0 0;
    justify-content: space-between;
  }
}

@media (max-width: 595px) {
  .cards-container {
    justify-content: center;
  }
}

@media (max-width: 433px) {
  .search-container {
    width: 90%;
  }
}
